// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
    .side-menu{
        
        background: url('https://s-media-cache-ak0.pinimg.com/originals/7b/ec/79/7bec7960be08f75a3d886112eb35452d.jpg');
        background-position: 0px 225px; 
        background-repeat: no-repeat;
        background-size: contain;
    }
