tournament {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
  ion-card img{
          // opacity: 0.8;
          filter: brightness(.7) blur(2.5px);
      }
  
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.15em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
}
